@import "tailwindcss";

@theme inline {
  --font-lexend: var(--font-lexend);
}

@theme {
  --color-primary-black: #191919;
  --color-purple: #b341ff;
  --color-green: #c2f929;
  --color-deep-green: #ADD753;
  --color-cyan: #0fcdc8;
}

@layer base {
  body {
    @apply bg-primary-black text-white font-lexend max-w-[1440px] mx-auto;
  }
}

@layer components {
  .gradient-text {
    background: linear-gradient(180deg, #ffdd03 0%, #fbc403 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-bg {
    border: 0.6px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(180deg, #ffdd03 0%, #fbc403 100%);
  }
  .hero-title {
    @apply text-[100px] leading-[56px] font-semibold tracking-[-2px] text-white;
  }
}

@layer utilities {
  .wrapper {
    @apply max-w-[1240px] mx-auto;
  }
}
